BODY {
	FONT-SIZE: 70%; MARGIN: 0px; OVERFLOW: scroll; COLOR: #000000; BACKGROUND-COLOR: #f1f1ed
}
BODY {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
P {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H1 {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H2 {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H3 {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H4 {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
TABLE {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
TD {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
TH {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
UL {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
OL {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
TEXTAREA {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
INPUT {
	FONT-FAMILY: verdana,helvetica,arial,sans-serif
}
H1 {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 200%
}
H2 {
	MARGIN-TOP: 10px; FONT-WEIGHT: normal; FONT-SIZE: 160%; MARGIN-BOTTOM: 10px
}
H3 {
	FONT-WEIGHT: normal; FONT-SIZE: 120%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 90%
}
H6 {
	FONT-SIZE: 80%
}
H1 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H2 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H3 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H4 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H5 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H6 {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
IFRAME {
	MARGIN: 0px
}
DIV {
	WIDTH: 100%
}
TABLE {
	FONT-SIZE: 100%
}
TH {
	FONT-SIZE: 100%
}
TD {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
TEXTAREA {
	FONT-SIZE: 100%
}
TABLE.example_code TD {
	FONT-SIZE: 110%; FONT-FAMILY: courier new
}
TABLE.ex TD {
	FONT-SIZE: 110%; FONT-FAMILY: courier new
}
TABLE.code TD {
	FONT-SIZE: 110%; FONT-FAMILY: courier new
}
SPAN.xxxcode {
	FONT-SIZE: 110%; FONT-FAMILY: courier new
}
TABLE.example_code P {
	FONT-FAMILY: courier new
}
TABLE.ex P {
	FONT-FAMILY: courier new
}
TABLE.code P {
	FONT-FAMILY: courier new
}
TABLE.example {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(images/bgfadegreen.gif); PADDING-BOTTOM: 8px; BORDER-LEFT: #d4d4d4 1px solid; COLOR: #000000; PADDING-TOP: 8px; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #e5eecc
}
TABLE.example_code {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: #d4d4d4 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-COLOR: #ffffff
}
P.example_code {
	COLOR: #000000; FONT-FAMILY: courier new; BACKGROUND-COLOR: transparent
}
TABLE.reference {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; BORDER-LEFT: #c3c3c3 1px solid; BORDER-BOTTOM: #c3c3c3 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.reference TH {
	BORDER-RIGHT: #c3c3c3 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #c3c3c3 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #c3c3c3 1px solid; BACKGROUND-COLOR: #e5eecc
}
TABLE.reference TD {
	BORDER-RIGHT: #c3c3c3 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #c3c3c3 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #c3c3c3 1px solid
}
TABLE.ex {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; COLOR: #000000; BORDER-BOTTOM: #d4d4d4 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #fafaf6
}
TABLE.ex TH {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #d4d4d4 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d4d4d4 1px solid
}
TABLE.ex TD {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #d4d4d4 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #d4d4d4 1px solid
}
TABLE.code {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d4d4d4 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-COLOR: #e5eecc
}
TABLE.code TD {
	BORDER-RIGHT: #d4d4d4 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #d4d4d4 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d4d4d4 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.tip {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; FONT-SIZE: 100%; BORDER-LEFT: 1px solid; COLOR: #000000; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #ffffff
}
TABLE.db {
	FONT-SIZE: 100%; COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
TH.db {
	COLOR: #000000; BACKGROUND-COLOR: #f1f1ed
}
H2.example {
	MARGIN-TOP: 0px; COLOR: #617f10; FONT-FAMILY: verdana; BACKGROUND-COLOR: transparent
}
H2.example_head {
	MARGIN-TOP: 0px; COLOR: #617f10; FONT-FAMILY: verdana; BACKGROUND-COLOR: transparent
}
H2.example {
	FONT-SIZE: 120%
}
H2.example_head {
	FONT-SIZE: 140%
}
H2.home {
	MARGIN-TOP: 0px; PADDING-LEFT: 1px; FONT-SIZE: 120%; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 1px; COLOR: #900b09; PADDING-TOP: 1px; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff
}
H2.tutheader {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; MARGIN-TOP: 0px; PADDING-LEFT: 4px; FONT-SIZE: 160%; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #d4d4d4 1px solid; COLOR: #303030; PADDING-TOP: 2px; BORDER-BOTTOM: #d4d4d4 1px solid; FONT-FAMILY: arial; BACKGROUND-COLOR: #fafaf6
}
H2.left {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 110%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #404040; PADDING-TOP: 0px; FONT-FAMILY: verdana; BACKGROUND-COLOR: #ffffff
}
H2.right {
	MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 100%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 2px; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: verdana; BACKGROUND-COLOR: #808080; TEXT-ALIGN: center
}
H1.att {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H2.att {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
H3.att {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
HR.att {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
TD.menu {
	COLOR: #900b09; BACKGROUND-COLOR: #f1f1ed
}
TD.deprecated {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
TD.red {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
P.red {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
SPAN.blue {
	COLOR: #00008b; BACKGROUND-COLOR: transparent
}
SPAN.rssblue {
	COLOR: #0000ff; BACKGROUND-COLOR: transparent
}
SPAN.red {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
SPAN.ieonly {
	FONT-SIZE: 80%; COLOR: #000080; BACKGROUND-COLOR: transparent
}
SPAN.t {
	FONT-SIZE: 80%; COLOR: #0033cc; BACKGROUND-COLOR: transparent
}
SPAN.marked {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
SPAN.insert {
	COLOR: #e80000; BACKGROUND-COLOR: transparent
}
SPAN.highlight_code {
	COLOR: #e80000; BACKGROUND-COLOR: transparent
}
P.deprecated {
	MARGIN-TOP: 10px; FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #000000; BACKGROUND-COLOR: transparent
}
P.tutintro {
	MARGIN-TOP: 0px; FONT-SIZE: 125%
}
P.intro {
	MARGIN-TOP: 10px; FONT-SIZE: 120%; COLOR: #000000; BACKGROUND-COLOR: transparent
}
P.introcenter {
	FONT-SIZE: 110%; COLOR: #8b4513; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
PRE {
	MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px; FONT-FAMILY: "courier new",monospace
}
PRE.intro {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; MARGIN: 8px; FONT-FAMILY: Verdana,"courier new",monospace
}
IMG.float {
	FLOAT: left
}
IMG.navup {
	VERTICAL-ALIGN: middle
}
HR {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: #d4d4d4; BORDER-BOTTOM: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #d4d4d4
}
TABLE.topnav {
	PADDING-LEFT: 3px
}
TD.topnav {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; COLOR: #404040; BACKGROUND-COLOR: transparent
}
A.nounderline {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #900b09; BACKGROUND-COLOR: transparent
}
A:visited {
	COLOR: #900b09; BACKGROUND-COLOR: transparent
}
A:active {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
A:hover {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
A.left:link {
	COLOR: black; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.left:visited {
	COLOR: black; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.left:hover {
	COLOR: black; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.left:active {
	COLOR: black; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.aright:link {
	COLOR: #900b09; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.aright:visited {
	COLOR: #900b09; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.aright:hover {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.aright:active {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.topnav:link {
	COLOR: #404040; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.topnav:visited {
	COLOR: #404040; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.topnav:hover {
	COLOR: #404040; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.topnav:active {
	COLOR: #404040; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.red:link {
	COLOR: #900b09; BACKGROUND-COLOR: transparent
}
A.red:visited {
	COLOR: #900b09; BACKGROUND-COLOR: transparent
}
A.red:active {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
A.red:hover {
	COLOR: #ff0000; BACKGROUND-COLOR: transparent
}
A.black:link {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
A.black:visited {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
A.black:active {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
A.black:hover {
	COLOR: #000000; BACKGROUND-COLOR: transparent
}
A.dark:link {
	COLOR: #404040; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.dark:visited {
	COLOR: #404040; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.dark:active {
	COLOR: #404040; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.dark:hover {
	COLOR: #404040; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.footer:link {
	COLOR: #aaaaaa; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.footer:visited {
	COLOR: #aaaaaa; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.footer:hover {
	COLOR: #aaaaaa; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.footer:active {
	COLOR: #aaaaaa; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.example {
	FONT-WEIGHT: bold
}
A.anibutton:link {
	BORDER-RIGHT: 2px outset; PADDING-RIGHT: 5px; BORDER-TOP: 2px outset; PADDING-LEFT: 10px; BACKGROUND: #ffff00; PADDING-BOTTOM: 1px; BORDER-LEFT: 2px outset; COLOR: #000000; LINE-HEIGHT: 200%; PADDING-TOP: 1px; BORDER-BOTTOM: 2px outset; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.anibutton:visited {
	BORDER-RIGHT: 2px outset; PADDING-RIGHT: 5px; BORDER-TOP: 2px outset; PADDING-LEFT: 10px; BACKGROUND: #ffff00; PADDING-BOTTOM: 1px; BORDER-LEFT: 2px outset; COLOR: #000000; LINE-HEIGHT: 200%; PADDING-TOP: 1px; BORDER-BOTTOM: 2px outset; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.anibutton:hover {
	BORDER-RIGHT: 2px inset; PADDING-RIGHT: 5px; BORDER-TOP: 2px inset; PADDING-LEFT: 10px; BACKGROUND: #ffff10; PADDING-BOTTOM: 1px; BORDER-LEFT: 2px inset; COLOR: #000000; LINE-HEIGHT: 200%; PADDING-TOP: 1px; BORDER-BOTTOM: 2px inset; TEXT-DECORATION: none
}
A.m_item:link {
	COLOR: white; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.m_item:visited {
	COLOR: white; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
A.m_item:active {
	COLOR: white; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A.m_item:hover {
	COLOR: white; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
TD.blacknav {
	BORDER-RIGHT: #868686 1px solid; BORDER-TOP: #868686 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; BORDER-LEFT: black 1px solid; COLOR: white; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
TABLE.page {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; PADDING-BOTTOM: 8px; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #ffffff
}
TD.left_container {
	COLOR: #617f10; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #ffffff
}
TH.left {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: #c3c3c3 1px solid; PADDING-BOTTOM: 4px; BORDER-LEFT: #c3c3c3 1px solid; COLOR: #404040; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #f1f1ed
}
SPAN.color_h1 {
	COLOR: #98bf21
}
SPAN.left_h2 {
	COLOR: #617f10
}
TD.left {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: medium none; PADDING-LEFT: 5px; BORDER-LEFT: #c3c3c3 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #c3c3c3 1px solid; BACKGROUND-COLOR: #ffffff
}
TD.content {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 2px; BORDER-TOP: medium none; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: medium none; PADDING-TOP: 5px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #ffffff
}
TD.right_container {
	COLOR: #900b09; BACKGROUND-COLOR: #ffffff
}
TABLE.right {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 6px; MARGIN-BOTTOM: 0px; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: #ffffff
}
TH.right {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: medium none; BACKGROUND-IMAGE: url(/images/pagetop_gradient.gif); PADDING-BOTTOM: 4px; BORDER-LEFT: #c3c3c3 1px solid; COLOR: #404040; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #ffffff
}
TD.right {
	BORDER-RIGHT: #c3c3c3 1px solid; BORDER-TOP: medium none; PADDING-BOTTOM: 4px; BORDER-LEFT: #c3c3c3 1px solid; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: #c3c3c3 1px solid; BACKGROUND-COLOR: #ffffff
}
.style1 {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.style6 {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.style7 {
	COLOR: #ff0000
}
.style9 {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica, sans-serif
}
